<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Cho phép a64dbg gọi task_for_pid() để attach vào tiến trình khác. -->
    <key>com.apple.security.cs.debugger</key>
    <true/>
</dict>
</plist>
